/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f5f5;
}

.mat-toolbar.mat-primary {
  background: #3f51b5;
  color: white;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* Global utility classes */
.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.p-4 {
  padding: 16px;
}
