<mat-toolbar color="primary" class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <button mat-icon-button class="menu-button" (click)="toggleSidenav()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="brand-link">
        <mat-icon>brush</mat-icon>
        <span class="brand-name">MagicDraw</span>
      </a>
    </div>

    <div class="nav-links" *ngIf="!(isHandset$ | async)">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Users
      </a>
      <a mat-button routerLink="/statistics" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon>
        Statistics
      </a>
      <a mat-button routerLink="/drawings" routerLinkActive="active">
        <mat-icon>image</mat-icon>
        Drawings
      </a>
      <a mat-button routerLink="/categories" routerLinkActive="active">
        <mat-icon>folder</mat-icon>
        Categories
      </a>
    </div>

    <div class="navbar-actions">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="authService.currentUser$ | async as user">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-icon-button (click)="themeService.toggleTheme()">
        <mat-icon *ngIf="themeService.isDarkTheme$ | async">light_mode</mat-icon>
        <mat-icon *ngIf="!(themeService.isDarkTheme$ | async)">dark_mode</mat-icon>
      </button>

      <a mat-raised-button color="accent" routerLink="/login" *ngIf="!(authService.isAuthenticated$ | async)">
        <mat-icon>login</mat-icon>
        Login
      </a>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="isHandset$ | async">
  <mat-sidenav #sidenav mode="over" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/users" (click)="sidenav.close()">
        <mat-icon mat-list-icon>people</mat-icon>
        <span>Users</span>
      </a>
      <a mat-list-item routerLink="/statistics" (click)="sidenav.close()">
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <span>Statistics</span>
      </a>
      <a mat-list-item routerLink="/drawings" (click)="sidenav.close()">
        <mat-icon mat-list-icon>image</mat-icon>
        <span>Drawings</span>
      </a>
      <a mat-list-item routerLink="/categories" (click)="sidenav.close()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span>Categories</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
